.git
.cache
**/assets/

__pycache__/
**.pyc
*.egg-info/
.eggs/
*.out
*.zip
*.ptb
+.env
*.log
.~*.ipynb
*.swp

.coverage
.coverage.*
coverage/
result/

datalake/
corpora/

.idea/
.vscode/

*.pickle
*.p

build/
dist/
htmlcov/
